pyyaml >= 5.1
pydantic
numpy >= 1.17
networkx
git+https://github.com/lsst/daf_butler@main#egg=daf_butler
git+https://github.com/lsst/utils@main#egg=lsst_utils
git+https://github.com/lsst/resources@main#egg=lsst_resources
git+https://github.com/lsst/pex_config@main#egg=pex_config
