mermaid-py>=0.7.1
pyyaml >= 5.1
pydantic >=2,<3.0
numpy >= 1.17
networkx
wcwidth
frozendict
astropy
lsst-daf-butler @ git+https://github.com/lsst/daf_butler@v29.1.x
lsst-utils @ git+https://github.com/lsst/utils@v29.1.x
lsst-resources @ git+https://github.com/lsst/resources@v29.1.x
lsst-pex-config @ git+https://github.com/lsst/pex_config@v29.0.x
lsst-daf-relation @ git+https://github.com/lsst/daf_relation@v29.0.x
