name: docs

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build_sphinx_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # Need to clone everything to determine version from git.
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: "pip"
          cache-dependency-path: "setup.cfg"

      - name: Install graphviz
        run: sudo apt-get install graphviz

      - name: Update pip/wheel infrastructure
        run: |
          python -m pip install --upgrade pip
          pip install wheel

      - name: Install documenteer
        run: pip install 'documenteer[pipelines]>=0.8'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Build and install
        run: pip install --no-deps -v .

      - name: Build documentation
        working-directory: ./doc
        run: package-docs build -W
